
<div class="page-header">
  <h1><a href="/">Place Kitty</a> <small>Photo Credits</small></h1>
</div>

<p>All images were taken from flickr and remain the property of their respective authors</p>

<ul>
  <li><a href="https://www.flickr.com/photos/andypiper/9637093418/">https://www.flickr.com/photos/andypiper/9637093418/</a></li>
  <li><a href="https://www.flickr.com/photos/andypiper/9633869597/">https://www.flickr.com/photos/andypiper/9633869597/</a></li>
  <li><a href="https://www.flickr.com/photos/andypiper/9637327014/">https://www.flickr.com/photos/andypiper/9637327014/</a></li>
  <li><a href="https://www.flickr.com/photos/paul_clarke/8172331739/">https://www.flickr.com/photos/paul_clarke/8172331739/</a></li>
  <li><a href="https://www.flickr.com/photos/cristiano_betta/7590798850/">https://www.flickr.com/photos/cristiano_betta/7590798850/</a></li>
  <li><a href="https://www.flickr.com/photos/weboutput/3398748600/">https://www.flickr.com/photos/weboutput/3398748600/</a></li>
  <li><a href="https://www.flickr.com/photos/themattharris/2558417544/">https://www.flickr.com/photos/themattharris/2558417544/</a></li>
  <li><a href="https://www.flickr.com/photos/themattharris/2557597391/">https://www.flickr.com/photos/themattharris/2557597391/</a></li>
  <li><a href="https://www.flickr.com/photos/themattharris/2558419106/">https://www.flickr.com/photos/themattharris/2558419106/</a></li>
  <li><a href="https://www.flickr.com/photos/motoko_k/6223996713/">https://www.flickr.com/photos/motoko_k/6223996713/</a></li>
  <li><a href="https://www.flickr.com/photos/cubicgarden/6164286474/">https://www.flickr.com/photos/cubicgarden/6164286474/</a></li>
  <li><a href="https://www.flickr.com/photos/bryn_s/5609014124/">https://www.flickr.com/photos/bryn_s/5609014124/</a></li>
  <li><a href="https://www.flickr.com/photos/bryn_s/5608432755/">https://www.flickr.com/photos/bryn_s/5608432755/</a></li>
  <li><a href="https://www.flickr.com/photos/bryn_s/5605547766/">https://www.flickr.com/photos/bryn_s/5605547766/</a></li>
  <li><a href="https://www.flickr.com/photos/cyberdees/4925688933/">https://www.flickr.com/photos/cyberdees/4925688933/</a></li>
  <li><a href="https://www.flickr.com/photos/adewale_oshineye/4779888896/">https://www.flickr.com/photos/adewale_oshineye/4779888896/</a></li>
  <li><a href="https://www.flickr.com/photos/cristiano_betta/4660207872/">https://www.flickr.com/photos/cristiano_betta/4660207872/</a></li>
  <li><a href="https://www.flickr.com/photos/cristiano_betta/4660208276/">https://www.flickr.com/photos/cristiano_betta/4660208276/</a></li>
  <li><a href="https://www.flickr.com/photos/fatty/3531552859/">https://www.flickr.com/photos/fatty/3531552859/</a></li>
  <li><a href="https://www.flickr.com/photos/fatty/2462400508/">https://www.flickr.com/photos/fatty/2462400508/</a></li>
  <li><a href="https://www.flickr.com/photos/cyberdees/3936772208/">https://www.flickr.com/photos/cyberdees/3936772208/</a></li>
  <li><a href="https://www.flickr.com/photos/adewale_oshineye/3689172639/">https://www.flickr.com/photos/adewale_oshineye/3689172639/</a></li>
  <li><a href="https://www.flickr.com/photos/rachelc/4050672939/">https://www.flickr.com/photos/rachelc/4050672939/</a></li>
  <li><a href="https://www.flickr.com/photos/adewale_oshineye/4044064058/">https://www.flickr.com/photos/adewale_oshineye/4044064058/</a></li>
  <li><a href="https://www.flickr.com/photos/psd/3696655471/">https://www.flickr.com/photos/psd/3696655471/</a></li>
</ul>