<!DOCTYPE html>
<html>
  <head>
    <title>Place Kitty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="//use.typekit.net/uwy7gib.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="page">
      <div class="container-fluid">
        <%= yield %>
        <div>
          <hr>
          <p><small>Crafted by <a href="http://danielknell.co.uk/">Daniel Knell</a> &amp; <a href="/credits">Photographers</a></small></p>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>